/* Dashboard.css */
.dashboard-container {
    padding: 20px;
  }
  
  .dashboard-container form input,
  .dashboard-container form select,
  .dashboard-container form button {
    width: 100%;
  }
  
  ul {
    margin-top: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
  }

  .update-button {
    text-align: right;
  }
  .logout-button {
    margin-left: 10px;
  }